#demo {
  border: 1px solid #eee;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  border-radius: 4px;
  padding: 25px 35px;
  margin-left: 0.8em;
  margin-bottom: 40px;
}
#demo h1 {
  margin: 0 0 0.5em;
  font-size: 2em;
}
#demo ul {
  padding-left: 1.5em;
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 0;
}
#demo ul li {
  cursor: pointer;
  color: #34495e;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
#demo ul li.done {
  color: #7f8c8d;
  text-decoration: line-through;
}
