.gutter pre {
  color: #bbb;
}
pre {
  color: #34495e;
}
pre .function .keyword,
pre .constant {
  color: #27ae60;
}
pre .number,
pre .literal {
  color: #ae81ff;
}
pre .keyword,
pre .tag,
pre .tag .title,
pre .change,
pre .winutils,
pre .flow,
pre .lisp .title,
pre .clojure .built_in,
pre .nginx .title,
pre .tex .special {
  color: #f95555;
}
pre .class .title {
  color: #fff;
}
pre .attribute {
  color: #42b983;
}
pre .symbol,
pre .symbol .string,
pre .value,
pre .regexp {
  color: #bf79db;
}
pre .title {
  color: #a6e22e;
}
pre .tag .value,
pre .string,
pre .subst,
pre .haskell .type,
pre .preprocessor,
pre .ruby .class .parent,
pre .built_in,
pre .sql .aggregate,
pre .django .template_tag,
pre .django .variable,
pre .smalltalk .class,
pre .javadoc,
pre .django .filter .argument,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .attr_selector,
pre .pseudo,
pre .addition,
pre .stream,
pre .envvar,
pre .apache .tag,
pre .apache .cbracket,
pre .tex .command,
pre .prompt {
  color: #f39c12;
}
pre .comment,
pre .java .annotation,
pre .python .decorator,
pre .template_comment,
pre .pi,
pre .doctype,
pre .deletion,
pre .shebang,
pre .apache .sqbracket,
pre .tex .formula {
  color: #bbb;
}
pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
  opacity: 0.5;
}
body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  color: #34495e;
  margin: 0;
}
a {
  text-decoration: none;
  color: #34495e;
}
img {
  border: none;
}
h1,
h2,
h3,
h4,
strong {
  font-weight: 600;
  color: #2c3e50;
}
code,
pre {
  font-family: 'Source Code Pro', 'Menlo', 'Consolas', monospace;
  font-size: 0.85em;
  background-color: #f6f6f6;
}
code {
  color: #7f8c8d;
  padding: 2px 6px;
  margin: 0 2px;
  border: 1px solid #e6e6e6;
}
em {
  color: #7f8c8d;
}
p {
  word-spacing: 0.05em;
}
.highlight {
  margin: 0;
  overflow-x: auto;
}
.highlight table,
.highlight tr,
.highlight td {
  width: 100%;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}
.highlight pre {
  padding: 1.2em 1.5em;
}
.highlight .gutter {
  width: 1.5em;
}
.highlight .gutter pre {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.highlight .code pre {
  padding-left: 0.5em;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
#main {
  position: relative;
  z-index: 1;
  padding: 0 60px 30px;
}
#header {
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0,0,0,0.25);
  padding: 25px 60px;
}
#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 60px;
  top: 25px;
  height: 40px;
  line-height: 40px;
}
#nav li {
  display: inline-block;
  margin-left: 1.2em;
}
#nav li:first-child {
  margin-left: 0 !important;
}
.nav-link {
  padding-bottom: 3px;
}
.nav-link:hover,
.nav-link.current {
  border-bottom: 3px solid #42b983;
}
#logo {
  display: inline-block;
  font-size: 1.5em;
  line-height: 40px;
  color: #2c3e50;
}
#logo img {
  vertical-align: middle;
  margin-right: 6px;
  width: 40px;
  height: 40px;
}
.sidebar {
  position: absolute;
  top: 0;
  left: 60px;
  padding: 2.2em 0 0 0;
  width: 260px;
  margin-right: 20px;
}
.sidebar h2 {
  margin-top: 0.2em;
}
.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sidebar .sidebar-link {
  line-height: 1.8em;
  color: #7f8c8d;
}
.sidebar .sidebar-link.current {
  font-weight: 600;
  color: #42b983;
}
.content {
  padding: 2.2em 0;
  max-width: 720px;
  margin: 0 auto;
}
.content.with-sidebar {
  margin: 0 0 0 280px;
}
.content.with-sidebar ul {
  font-size: 0.9em;
  padding-left: 1.25em;
  color: #7f8c8d;
}
.content h1 {
  margin: 0 0 1em;
}
.content h2 {
  margin: 2em 0 0.8em;
  padding-bottom: 0.7em;
  border-bottom: 1px solid #ddd;
}
.content h3 {
  border-left: 5px solid #42b983;
  margin: 2em 0 0.8em;
  padding-left: 0.5em;
}
.content figure,
.content p,
.content ul {
  margin: 0.8em 0 0.8em 0.8em;
}
.content p,
.content ul {
  line-height: 1.6em;
}
.content ul {
  padding-left: 1em;
}
.content a {
  color: #42b983;
  font-weight: 600;
}
.content blockquote {
  margin: 0;
}
.content blockquote p {
  margin-left: 0;
}
@media screen and (min-width: 720px) {
  #main.fix-sidebar .sidebar {
    position: fixed;
  }
}
@media screen and (max-width: 720px) {
  body {
    font-size: 14px;
  }
  #header {
    text-align: center;
    padding: 18px 0;
  }
  #nav {
    position: static;
    margin-top: 0.4em;
  }
  #logo {
    display: block;
  }
  #logo span {
    display: none;
  }
  #main {
    padding: 0 1.4em;
  }
  .highlight pre {
    padding: 1.2em 1em;
  }
  .sidebar {
    position: static;
    width: auto;
    margin-right: 0;
    padding-bottom: 2em;
    border-bottom: 1px solid #ddd;
  }
  .content.with-sidebar {
    margin-left: 0;
  }
  .content figure,
  .content p,
  .content ul {
    margin-left: 0;
  }
}
